@font-face {
  font-family: "Pretendard ExtraLight";
  font-weight: 200;
  src: url("../fonts/Pretendard-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: "Pretendard Light";
  font-weight: 300;
  src: url("../fonts/Pretendard-Light.otf") format("opentype");
}

@font-face {
  font-family: "Pretendard Regular";
  font-weight: 400;
  src: url("../fonts/Pretendard-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Pretendard Medium";
  font-weight: 500;
  src: url("../fonts/Pretendard-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Pretendard Semibold";
  font-weight: 600;
  src: url("../fonts/Pretendard-SemiBold.otf") format("opentype");
}

.hidden {
  display: none;
}

body {
  background-size: cover;
}

body::before {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  background-color: rgb(0, 0, 0, 0.4);
}

header {
  height: 250px;
}

#weather {
  text-align: right;
  margin-right: 20px;
}

#weather > div {
  display: flex;
  justify-content: end;
  align-items: center;
}

#weather span:first-of-type {
  font-family: "Pretendard Light";
  font-weight: 300;
  font-size: 20px;
  color: white;
  margin-left: 8px;
  padding-top: 8px;
}

#weather > span:last-child {
  display: inline-block;
  font-family: "Pretendard Regular";
  font-weight: 400;
  font-size: 28px;
  color: white;
}

#clock {
  text-align: center;
  font-family: "Pretendard Regular";
  font-weight: 400;
  font-size: 130px;
  color: white;
}

#login-form {
  text-align: center;
  font-family: "Pretendard Light";
  font-weight: 300;
  margin: 16px;
}

#login-form input {
  margin-right: 30px;
  background-color: transparent;
  border-width: 0 0 2 0;
  border-color: white;
  font-size: 30px;
  color: white;
  height: 60px;
  width: 360px;
}

#login-form input::placeholder {
  color: white;
}

#login-form input:focus {
  outline: none;
}

#login-form button {
  transition: 0.2s;
  border-style: solid;
  background-color: transparent;
  border-color: white;
  font-family: "Pretendard Regular";
  font-weight: 400;
  font-size: 28px;
  color: white;
  height: 60px;
  width: 110px;
}

#login-form button:hover {
  transition: 0.5s;
  border-style: solid;
  background-color: white;
  border-color: white;
  font-family: "Pretendard Regular";
  font-weight: 400;
  font-size: 28px;
  color: rgb(0, 0, 0, 0.8);
}

.logout-form {
  text-align: center;
  margin: 16px;
}

#logout-form {
  margin-left: 16px;
}

#logout-form {
  transition: 0.2s;
  border-style: solid;
  background-color: transparent;
  border-color: white;

  font-family: "Pretendard Regular";
  font-weight: 400;
  font-size: 28px;
  color: white;
  height: 60px;
  width: 120px;
}

#logout-form:hover {
  transition: 0.5s;
  border-style: solid;
  background-color: white;
  border-color: white;

  font-family: "Pretendard Regular";
  font-weight: 400;
  font-size: 28px;
  color: rgb(0, 0, 0, 0.8);
}

#greeting {
  font-family: "Pretendard Regular";
  font-weight: 400;
  font-size: 30px;
  color: white;
  display: inline-block;
}

#todo-box {
  position: absolute;
  top: 100px;
  right: 0px;
  width: 400px;
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 10px;
  margin: 20px;
  backdrop-filter: blur(4px);
}

#todo-form input {
  background-color: transparent;
  border-width: 0 0 1 0;
  border-color: white;

  font-family: Pretendard-Light;
  font-weight: 300;
  font-size: 20px;
  color: white;
  height: 40px;
  width: 360px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

#todo-form input:focus {
  outline: none;
}

#todo-form input::placeholder {
  font-size: 20px;
  color: white;
}

#todo-list {
  ont-family: Pretendard-Light;
  font-weight: 300;
  font-size: 20px;
  color: white;
}

#todo-list button {
  background-image: url("../icons/deletetodo.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;

  transition: 0.2s;
  border: none;
  background-color: transparent;
  margin-left: 15px;
  padding-bottom: 3px;
  width: 20px;
  height: 20px;
}

#todo-list button:hover {
  background-image: url("../icons/deletetodohover.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;

  transition: 0.5s;
}

#quote {
  text-align: center;
  position: absolute;
  bottom: 30px;
  width: 100%;

  color: white;
  font-family: "Pretendard ExtraLight";
  font-weight: 200;
  font-size: 20px;
}

.quoteContent {
  font-family: "Pretendard ExtraLight";
  font-weight: 200;
  font-size: 20px;
  color: white;
  height: 36px;
}

.quoteAuthor {
  font-family: "Pretendard Extralight";
  font-weight: 200;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
}
