.hidden {
  display: none;
}

body {
  text-align: center;
}

header {
  height: 50px;
}

#clock {
  font-size: 100px;
  color: white;
}

#login-form {
  margin: 10px;
}

#logout-form {
  margin: 10px;
}

#greeting {
  font-size: 30px;
  color: white;
}

#todo-form {
  margin: 10px;
}

#todo-list {
  font-size: 20px;
  color: white;
}

#quote {
}

.quoteContent {
  display: inline-block;
  width: 800px;
  font-size: 20px;
  color: white;
}

.quoteAuthor {
  font-size: 20px;
  font-style: italic;
  color: white;
}

#weather {
  font-size: 20px;
  color: white;
}
